@page "/fetchdata"
@using Models
@inject HttpClient Http

<PageTitle>Data Points</PageTitle>

<h1>Data Points</h1>

<p>This component generates random data points.</p>

@if (points == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>X</th>
                <th>Y</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var point in points)
            {
                <tr>
                    <td>@point.X</td>
                    <td>@point.Y</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Point[]? points;

    protected override async Task OnInitializedAsync()
    {
        points = await Http.GetFromJsonAsync<Point[]>("https://localhost:7071/api/point");
    }
}
